/*
Theme Name: Maa Sharda
Theme URI: https://wordpress.org/themes/twentytwelve/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: The 2012 theme for WordPress is a fully responsive theme that looks great on any device. Features include a front page template with its own widgets, an optional display font, styling for post formats on both index and single views, and an optional no-sidebar page template. Make it yours with a custom menu, header image, and background.
Version: 2.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, footer-widgets, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentytwelve

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* =Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/


/* =Reset
-------------------------------------------------------------- */

@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Lato', sans-serif;
	width:100%;
	overflow:hidden;
}
#page {
	display:block;
	padding:0;
	margin:0;
	padding-top:40px;
	position:relative;
	z-index:5;
	background-color:#fff;
}
#page p , #page h5 , #page h3 , #page h4 ,#page h5 , #page span, #page div { letter-spacing:2px;} 
.view-more, .view-more:hover, .view-more:focus {
	text-decoration:none;
	font-size: 28px;
	color: #f0a000;
	font-weight: lighter;
	display: inline-block;
	position: relative;
	left: -12px;
	line-height: 14px;
	transition:0.4s;
}
.view-more .line {
	display: inline-block;
	height: 2px;
	width: 40px;
	background: #f0a000;
	position: relative;
	top: -7px;
	right: -15px;
	transition:0.4s;
}
.view-more:hover .line {
	width: 50px;
}
.has_image .text_box {
	padding-left:20%;
	position:relative;
}
.has_image .text_box img {
	width:18%;
	position:absolute;
	left:0;
	top:0;
	right:auto;
	bottom:auto;
}
.gray_bg {
	background:#f2f2f2;
}
.white_bg {
	background:#fff;
}
#page .padding15 {
	padding-left:30px;
	padding-right:30px;
}
.margin10 {
	margin:10px 0;
}






/*sticky top bar css stars*/
.sticky_info {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	background: #f2f2f2;
	padding: 10px;
	z-index:3;
}
.sticky_info ul {
	padding:0;
	margin:0;
	display: block;
}
.sticky_info ul li {
	display: inline-block;
	float: left;
	list-style-type: none;
	padding:0 20px;
	color:#555555;
	font-size:14px;
	position:relative;
}
.sticky_info ul li:nth-child(3), .sticky_info ul li:nth-child(4) {
 float:right;
}
.sticky_info ul li .top_icon {
	width: 15px;
	display: inline-block;
	line-height: 20px;
	margin-right: 5px;
	margin-top: 0px;
	position: absolute;
	left: 0;
	top: 2px;
}
.sticky_info ul li .top_icon img {
	width: 100%;
	display: flex;
}
/*left panel css stars*/

.left_panel {
	position:fixed;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
}
.logo_block {
	display: table;
	height: 100%;
	margin: 0 auto;
}
.logo_block .logo {
	display: table-cell;
	margin-top:100px;
	width: 100%;
	vertical-align: middle;
	padding-top: 150px;
	text-align:center;
}
.logo_block .logo div {
	width: 75%;
	display: inline-block;
}
.logo_block .logo div img {
	width: 100%;
	
}
/* right panel css starts */




/*timing block css starts*/
.timing_block {
	padding: 30px 20px 25px 20px;
	background: #f2f2f2;
	margin-top: 40px;
}
.time_block_data {
	background: #fff;
	padding: 15px;
	margin-top: 30px;
	border:1px solid #bbbbbb;
	transition:0.6s;
}
.time_block_data:hover {
	border-color:#f0a000;
}
.time_block_data h4 {
	position:relative;
	font-size:16px;
	color:#000;
	display:block;
	width:100%;
	margin:0;
	padding-left:55px;
	text-transform:uppercase;
}
.data_icon {
	    position: absolute;
    width: 65px;
    height: 65px;
    background: #bbbbbb;
    text-align: center;
    border-radius: 50%;
    padding-top: 12px;
    font-size: 36px;
    top: -60px;
    left: 0;
    color: #fff;
    transition: 0.6s;
}
.data_icon .fa-hourglass-half {
	font-size: 28px;
    margin-top: 6px;
	display: inherit;
}
.data_icon .fa-pencil-square-o {
	    font-size: 32px;
    margin-top: 6px;
    display: inherit;
    margin-left: 4px;
}
.data_icon .fa-ambulance {
	    font-size: 30px;
    margin-top: 5px;
    display: inherit;
    margin-left: -1px;
}
.time_block_data:hover .data_icon {
	background-color:#f0a000;
}
.time_block_data table {
	margin-top:20px;
	width:100%;
}
.time_block_data table td {
	font-size:12px;
	padding:4px 8px;
	color:#888;
}
/*Info block css stars*/
.text_box p {
	font-size:16px;
	color:#888;
	font-weight:lighter;
}
.info_block {
	margin-top:40px;
	display:block;
}
.info_block.gray_bg {
	padding:40px 0;
}
.info_block h3 {
	display:block;
	text-align:center;
	text-transform:uppercase;
	margin:0;
	margin-bottom:20px;
	line-height: 20px;
	font-size: 28px;
}
.info_block h3 span {
	display:block;
}
.info_block h3 span.under_line {
	display:inline-block;
	height:2px;
	width:100px;
}
.knowus_block {
	display:block
}
.knowus_block h4 {
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:20px;
	margin-top:0px;
}
.image_box {
	width:100%;
	border:1px solid #ababab;
	background-color:#fff;
	padding:2px;
	margin-bottom:10px;
}
.image_box img {
	width:100%;
}
.team_listing {
	padding: 0;
	margin: 0 -10px;
}
.team_listing > li {
	width:15%;
	display:inline-block;
	overflow:hidden;
	float:left;
	list-style-type:none;
	padding:0 10px;
	transition:0.5s;
}
.team_photo , .team_info{ transition:0.5s;}
.team_listing > li:hover .team_photo , .team_listing > li:hover .team_info{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.team_listing > li .team_photo .hover_block {
	display:none;
	transition:0.5s;
	padding-top: 60%;
    color: #fff;
}
.team_listing > li:hover .team_photo .hover_block {
	display:block;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:rgba(0,0,0,0.0);
}
.team_listing > li:hover .team_photo .zoom {
	position: relative;
    width: 20px;
    height: 20px;
    margin: 10px;
	display: inline-block;
}
.team_listing > li:hover .team_photo .zoom:before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.team_listing > li:hover .team_photo .zoom:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
.team_listing > li:hover .team_photo .zoom span:before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}
.team_listing > li:hover .team_photo .zoom span:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}
.modal_photo {
	width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.modal-body .team_info {
	background: transparent;
}
.modal-body .team_info h4 {
	color:#333;
	margin-bottom:10px;
}
.modal-body .team_info p {
    color: #999;
}
.modal-body .social_info
 { text-align:left; margin-left:-5px;}.team_listing li .team_photo {
	width:100%;
	position: relative;
	display: block;
	text-align:center;
}
.team_listing li .team_photo img {
	width:100%;
	filter: grayscale(100%);
	transition:0.8s;
}
.team_listing li .team_photo:hover img {
	filter: grayscale(00%);
}
.team_info {
	background-color:#333333;
	padding:10px;
	overflow:hidden;
	
}
.team_info p {
	color:#cdcdcd;
}
.team_info h4 {
	color:#fff;
	margin-bottom:30px;
}
.social_info {
	padding: 0;
	display: block;
	overflow: hidden;
	text-align: right;
}
.social_info li {
	list-style-type: none;
	width: auto;
	padding:5px;
	display:inline-block;
}
.social_info li a {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	color: #888888;
	border: 1px solid #888888;
	padding: 5px;
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
	text-align: center;
	transition:0.5s;
}
.social_info li a:hover {
	background:#888;
	color:#333;
}
html {
	overflow-y: scroll;
}
.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#filters {
	margin:1%;
	padding:0;
	list-style:none;
}
#filters li {
	float:left;
}
#filters li span {
	display: block;
	padding:5px 20px;
	text-decoration:none;
	color:#666;
	cursor: pointer;
}
#filters li span.active {
	background: #e95a44;
	color:#fff;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	background: #666;
	cursor:pointer;
}
.portfolio img {
	max-width:100%;
	position: relative;
	top:0;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .label-bg {
	background: #e95a44;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.portfolio .text-category {
	display:block;
	font-size:9px;
}
.portfolio:hover .label {
	bottom:0;
}
.portfolio:hover img {
	top:-30px;
}






/*sucsses story css starts*/ 
.story_slide {}
.slick-arrow { display:none !important;}
.slick-dots {padding: 0;
    list-style-type: none; text-align: center; margin: 30px 0 0;}
.slick-dots li { display:inline-block; margin:0 20px;}
.slick-dots li button {width: 80px;
    height: 80px;
    border-radius: 50%;
    color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
	background-image:url(images/img4.png);
	filter: grayscale(100%);
	transition:0.5s;
	}
.slick-dots li.slick-active button , .slick-dots li:hover button  {filter: grayscale(0%);}
.slick-slide { outline:none;text-align:center;}
.slide_listing { padding:0 15%; width:100%;}
.slide_listing p { color:#666; line-height:28px; letter-spacing:1px; font-size:14px;}
.slide_listing h4 { color:#333; letter-spacing:1px; margin-top:20px;}
.slide_listing h4 small{ display:block; margin-top:5px;}







/*map block css starts*/
.footer_block { position:static; left:0; right:0; bottom:0; top:auto; z-index:4;}
.foot_info { background:#222; display:block; padding:30px 0;}
.contact_info { clear:both; margin-top:40px;}
.contact_info p { position:relative; padding-left:20px; font-size:12px; color:#7c7c7c;}
.contact_info p i { position:absolute; left:0; top:5px;}
.foot_listing h4 { color:#fff;}
.foot_listing .border-line {    display: inline-block;
    height: 1px;
    width: 40px;
    background: #858585;
    overflow: hidden;
    float: left;}
.foot_links { padding:0; clear:both; margin-top:40px;}
.foot_links li { position:relative; padding-left:15px; transition:0.5s; list-style-type:none; border-bottom:1px solid #393939; padding-bottom:10px; margin-bottom:10px; width:80%; display:block;}
.foot_links li:last-child { border-bottom:0;}
.foot_links li:hover { padding-left:20px;}
.foot_links li i {position: absolute;
    left: 0;
    top: 9px;
    font-size: 5px; color:#efa100;}
.foot_links li a { color:#7c7c7c; text-decoration:none; font-size:12px;}
.copyright
{
	text-align:center;
	font-size:18px;
	letter-spacing:2px;
	color:#fffefe;
	font-weight:300;
	line-height:48px;
}
.marquee
{
	background:#434343;
	padding:8px 0px;
	color:#fffefe;
	font-size:14px;
	letter-spacing:2px;	
	font-weight:300;
	width:100%;	
}
.footerbefore
{
	background:#ebe9e6;
	margin-top:30px;
}
.footerbefore .left
{
	width:50%;
	padding:50px 30px 30px;
	float:left;
}
.footerbefore .right
{
	width:50%;	
	float:left;
}

.footerbefore .right img
{
	width:100%;
}
.footerbefore .form-control
{
	border:none;
	border-bottom:solid 1px #999999;
	margin-bottom:30px;
	height:50px;
	background:none;
	box-shadow:none;
	border-radius:0px;
	font-size:18px;
	color:#666666;
	letter-spacing:2px;	
}
.footerbefore textarea.form-control
{
	border:none;
	border-bottom:solid 1px #999999;
	margin-bottom:30px;
	height:125px;
	background:none;
	box-shadow:none;
	border-radius:0px;	
	font-size:18px;
	color:#666666;
	letter-spacing:2px;
}
.whitebtn
{
	background:#fff;
	height:68px;
	text-align:center;
	color:#666666;
	font-size:20px;
	margin-top:20px;
	letter-spacing:2px;
}
.whitebtn:hover
{
	background:#f0a000;	
	color:#fff;	
}
.first-readit
{
	padding:0px;
	margin:20px 0px 0px 0px;
	list-style:none;
	width:100%;
	margin:0 auto;
	background:url(images/whiteline.jpg) repeat-y top center;
}
.first-readit li
{
	padding:0px;
	margin:0px;
	display:block;
	width:100%;	
	font-size:16px;
}
.first-readit li a
{	
	color:#999;
}
.first-readit li a .info
{
	padding:1.5%;
	margin:25px 1%;
	background:none;	
	width:47%;
	display:block;
	transition: 0.6s;
}
.first-readit li a:hover .info
{
	background:#fff;
}
.first-readit li a .name
{	
	width:50%;
	display:block;
	margin:25px 0%;	
}
.borderright
{
	border-right:solid 1px #009;
}
.borderleft
{
	border-left:solid 1px #009;
}
.fontright
{	
	text-align:right;	
}
.fontleft
{	
	text-align:left;	
}
.fl
{
	float:left;
}
.fr
{
	float:right;
}
.first-readit li a span.articalname
{
	background: #fff url(images/right-white.png) no-repeat top right;
    padding: 13px 50px 13px 20px;
    font-size: 18px;
    color: #444444;
	display: inline-block;
	margin-bottom:15px;
	transition:0.6s;
}
.first-readit li a:hover span.articalname
{
	background: #f0a000 url(images/right-yellow.png) no-repeat top right;   
    color: #fff;
	display: inline-block;
}
.first-readit li a span.articalnameleft
{
	background: #fff url(images/left-white.png) no-repeat top left;
    padding: 13px 20px 13px 50px;
    font-size: 18px;
    color: #444444;
	display: inline-block;
	margin-bottom:15px;
	float:right;
}
.first-readit li a:hover span.articalnameleft
{
	background: #f0a000 url(images/left-yellow.png) no-repeat top left;   
    color: #fff;
	display: inline-block;
}
.first-readit li a .date
{
	padding:5px 20px;
	font-size:15px;	
	display: inline-block;
	clear:both;
}
.first-readit li a .eye
{
	padding:5px 20px;
	color:#666666;
	font-size:16px;
	display: inline-block;
	clear:both;
}
.first-readit li a .name .date
{
	padding:5px 20px;
	font-size:15px;	
	display: inline-block;
	clear:both;	
}
.first-readit li a .name .eye
{
	padding:5px 20px;
	color:#666666;
	font-size:16px;
	display: inline-block;
	clear:both;	
}
.first-readit li a .name .dateleft
{
	padding:5px 20px;
	font-size:15px;	
	display: inline-block;
	clear:both;
	float:right;
}
.first-readit li a .name .eyeleft
{
	padding:5px 20px;
	color:#666666;
	font-size:16px;
	display: inline-block;
	clear:both;
	float:right;
}
.fitter img
{
	width:90%;
	margin-top:30px;
}
.btnborder
{
	background:#fff;
	padding:10px 30px;
	border:solid 1px #d3d3d3;
	border-radius:0px;
	margin:10px 5px;
	font-size:16px;
	color:#666666;
}
.btnborder:hover
{
	background:#fff;	
	border:solid 1px #f0a000;	
	color:#333;
}
.topgallery
{
	margin:10px 0px 20px;
}
#masonry_hybrid_demo3 .grid-item .grid-item-inner{ 
 position: relative; 
 background: #ececec; 
 width: 100%; 
 height: 100%; }
 
 .ug-textpanel {height:auto !important;top: 0px; bottom:0 !important; opacity:0 !important; transition:0.5s !important;}
 .ug-textpanel:hover { opacity:1 !important;} 
 .ug-textpanel .ug-textpanel-bg { height:100% !important;}
 .ug-button-play.ug-icon-zoom { display:none !important;}
 .portfolio_listing { transition:0.8s;} 
 .ug-textpanel .ug-textpanel-title { transition:0.5s;}
 .ug-textpanel:hover .ug-textpanel-title
 { width:100% !important; text-align:center;top:40% !important;} 
  .ug-textpanel:hover   .ug-textpanel-textwrapper { height:100% !important;}
  
  /* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
 .container {
 width: 768px;
}
}

@media only screen and (max-width:992px) {
.first-readit
{
	padding:0px;
	margin:20px 0px 0px 0px;
	list-style:none;
	width:100%;
	margin:0 auto;
	background:url(../images/whiteline.jpg) repeat-y top center;
}
.footerbefore .left
{
	width:100%;
	padding:30px;
	float:none;
}
.footerbefore .right
{
	width:100%;	
	float:none;
}	
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
 .container {
 width: 95%;
}
 #portfoliolist .portfolio {
 width:48%;
 margin:1%;
}
.first-readit
{
	background:none;
}
.first-readit li a .info
{
	padding:1.5%;
	margin:25px 1%;
	background:none;	
	width:97%;
	display:block;
	text-align:center;
}
.first-readit li a .name
{	
	width:100%;
	display:block;
	margin:25px 0%;
	text-align:center;	
}
.first-readit li a span.articalnameleft
{
	float:none;
	text-align:center;	
}
.first-readit li a .name .dateleft
{
	float:none;
	text-align:center;	
}
.first-readit li a .name .eyeleft
{
	float:none;
	text-align:center;
}


}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
 .container {
 width: 70%;
}
}

/*Added By Nikunj*/

.foot_links ul.menu{
	padding-left : 0px;
}
.logo_block .logo a {
	display:inline-block;
	position:relative;
}
.logo a .tooltip {
  background: #f0a000;
  bottom:0%;
  color: #fff;
  display: block;
  left: 180px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 1000px;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.logo a .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.logo a .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #f0a000 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.logo a:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .logo a .tooltip {
  display: none;
}

.lte8 .logo a:hover .tooltip {
  display: block;
}
